{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!--Fullscreen bootstrap carousel taken from https://codepen.io/SitePoint/pen/ZbGwqe-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ MEDIA_URL }}surfing_image_3.jpg" data-color="lightblue"
                alt="First Image">
            <div class="carousel-caption d-md-block">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ MEDIA_URL }}surfing_image_2.jpg" data-color="firebrick"
                alt="Second Image">
            <div class="carousel-caption d-md-block">
                <h4>
                    <a href="{% url 'products' %}?category=surf_lesson"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Book a Lesson</a>
                </h4>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ MEDIA_URL }}surfing_image_4.jpg" data-color="violet" alt="Third Image">
            <div class="carousel-caption d-md-block">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Now</a>
                </h4>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{{ MEDIA_URL }}surfing_image_1.jpg" data-color="violet" alt="Third Image">
            <div class="carousel-caption d-md-block">
                <h4>
                    <a href="{% url 'blogs' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Read
                        our Blog</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    var $item = $('.carousel-item');
    var $wHeight = $(window).height();
    $item.eq(0).addClass('active');
    $item.height($wHeight);
    $item.addClass('full-screen');

    $('.carousel img').each(function () {
        var $src = $(this).attr('src');
        var $color = $(this).attr('data-color');
        $(this).parent().css({
            'background-image': 'url(' + $src + ')',
            'background-color': $color
        });
        $(this).remove();
    });

    $(window).on('resize', function () {
        $wHeight = $(window).height();
        $item.height($wHeight);
    });

    $('.carousel').carousel({
        interval: 8000,
        pause: "false"
    });
</script>
 <script type="text/javascript">
        $('.toast').toast('show');
    </script>
{% endblock %}