html {
    height: 100%;
}

body {
   /* background: url('/media/surfing_image_3.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); */
}

.top-banner {
    background-color: black;
    height: 75px;
}

.banner-headline {
    margin-top: 15px;
}

.banner-link {
    padding-right: 10px;
    margin-top: 15px;
}

.banner-icon {
    padding-right: 5px;
}

.logo {
    color: red;
}

.navbar-link {
    padding: 5px;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 200px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social-links {
    font-size: 30px;
    padding: 10px;
    color: white;    
    }
.page-footer {
    background-color: black;
}

.footer-text {
    color: white;
}