@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap');
html {
    height: 100%;
    font-size: 18px;
}

/* Top Banner */

.top-banner {
    background-color: #0F1110;
    height: 3.9rem;
}

.banner-headline {
    margin-top: 0.8rem;
    font-family: 'Oswald', sans-serif;
    color: #FEFFF9;
}

.banner-link {
    padding-right: 0.55rem;
    margin-top: 0.8rem;
}

.banner-icon,
.banner-text {
    color: #FEFFF9;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

/* Navbar */
.navbar-link {
    padding: 5px;
}

.navbar-text,
.logo {
    font-family: 'Oswald', sans-serif;
    color: #0F1110 !important; 
}

/* Buttons */

.shop-now-button {
    background: #FEFFF9;
    color: #0F1110;
    font-family: 'Oswald', sans-serif;
    min-width: 200px;
}

.back-top-button {
    margin: 1rem;
}

.btn-outline-black {
    background: #FEFFF9;
    color: #0F1110 !important; 
    border: 1px solid #0F1110;
}

.update-button {
    cursor: pointer;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer */

.social-links {
    font-size: 30px;
    padding: 10px;
    color: #FEFFF9;    
    }
    
.page-footer {
    background-color: #0F1110;
}

.footer-title {
    color: #FEFFF9;
    font-family: 'Oswald', sans-serif;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color: #FEFFF9;
    font-weight: 300;
    font-size: 0.9rem;
}

/* CSS for Text*/

.product-text,
.blog-text,
.bag-text,
.checkout-text,
.profile-text {
    font-family: 'Roboto', sans-serif;
}

.product-heading,
.blog-heading,
.bag-heading {
    font-family: 'Oswald', sans-serif;
}


.bag-table-text {
    font-family: 'Roboto', sans-serif;
    color: #0F1110;
}

.product-price {
    padding-bottom: 0.55rem;
}

/* Blog Comments*/
.comments-form {
    margin-top: 1.3rem;
}

.comments {
    padding: 0.55rem;
}

/* Toast Messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-message {
    overflow: visible;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-bg-success {
    background-color: #54BE9B;
}

.toast-bg-warning {
    background-color: #F2E205;
}

.toast-bg-info {
    background-color: #94D7F2;
}

.toast-bg-error {
    background-color:#E5361B;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #0F1110;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0F1110;
    border: 1px solid #0F1110;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

@media screen and (max-width: 767px) {
.mobile-spacing {margin-top:10px;}
}
