@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap');
html {
    height: 100%;
    font-size: 18px;
}

.top-banner {
    background-color: #0F1110;
    height: 70px;
}

.banner-headline {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    color: #FEFFF9;
}

.banner-link {
    padding-right: 10px;
    margin-top: 15px;
}

.banner-icon,
.banner-text {
    color: #FEFFF9;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.navbar-link {
    padding: 5px;
}

.navbar-text,
.logo {
    font-family: 'Oswald', sans-serif;
    color: #0F1110 !important; 
}

.shop-now-button {
    background: #FEFFF9;
    color: #0F1110;
    font-family: 'Oswald', sans-serif;
    min-width: 200px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social-links {
    font-size: 30px;
    padding: 10px;
    color: #FEFFF9;    
    }
.page-footer {
    background-color: #0F1110;
}

.footer-title {
    color: #FEFFF9;
    font-family: 'Oswald', sans-serif;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color: #FEFFF9;
    font-weight: 300;
}

.product-text {
    font-family: 'Roboto', sans-serif;
    
}
