{% extends "base.html" %}
{% load static %}
{% load markdownify %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="w-75">
            <h2 class="logo">Blog </h2>
            <hr class="w-75">
        </div>
    </div>
    <!-- Page Content -->
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <h1 class="mt-4 blog-heading">{{ blog.title }} </h1>
            <p class="lead blog-text">
                written by: {{ blog.author }}
            </p>
            <hr>
            <p class="blog-text">Posted on: {{ blog.date }} </p>
            <hr>
            <img class="img-fluid rounded" src="{{ blog.image.url }}" alt="{{ blog.title }}">
            <hr>
            <p class="lead blog-text">{{ blog.body | markdownify }}</p>
            <hr>
            <div class="media mb-4">
                <div class="media-body">
                    <h2 class="mt-0 blog-heading">Comments...</h2>
                       {% for comment in comments %}
                    <div class="comments blog-text">
                        <p class="font-weight-bold blog-text">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal blog-text">
                                {{ comment.date }}
                            </span>
                         </p>
                          <p class="blog-text">{{ comment.comment | linebreaks }}</p>
   
                    </div>
                    {% endfor %}
                    <div class="col-md-8 card my-4  mt-3 ">
                        <div class="card-body">
                            {% if new_comment %}
                            <div class="alert alert-success .blog-text" role="alert">
                                Thanks for your comment.
                            </div>
                            {% else %}
                            <h4 class="blog-heading">Please leave a comment.</h4>
                            <form method="post" class="comments-form" style="margin-top: 1.3em;">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-dark  btn-lg">Submit</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header blog-heading">We would love to hear from you!</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="blog-text"> 
                                Please feel free to leave us a comment.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}