{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col text-center">
            <hr class="w-75">
            <h2 class="logo">Whoops! Page Not Found!</h2>
            <hr class="w-75">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="{{ MEDIA_URL }}surf_wipeout_1.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="product-text mt-1">Click here to go back</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="{% url 'home_page' %}" class="btn btn-lg btn-dark rounded-1">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}