#profile-form .form-control {
    color: #0F1110;
    font-family: 'Roboto', sans-serif;
}

#profile-form input::placeholder {
    color: #D8D9D7;
    font-family: 'Roboto', sans-serif;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #0F1110;
}