{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="container-fluid product-container">
        <div class="row">
            <div class="col text-center">
                <hr class="w-75">
                <h2 class="logo">Book a Lesson</h2>
                <hr class="w-75">
            </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if surflesson.image %}
                        <a href="{{ surflesson.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ surflesson.image.url }}" alt="{{ surflesson.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ surflesson.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ surflesson.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£ {{ surflesson.price }}</p>
                   
                    <p class="mt-3">{{ surflesson.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}