{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
 <div class="container-fluid product-container">
        <div class="row">
            <div class="col text-center">
                <hr class="w-75">
                <h2 class="logo">Book a Lesson</h2>
                <hr class="w-75">
            </div>
        </div>
    
    <div class="row">
            <div class="col-12">
                <div class="row">
                    {% for surflesson in surf_lessons %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card shadow h-100 product-card">
                            {% if surflesson.image %}
                            <a href="#">
                                <img class="card-img-top img-fluid product-image" src="{{ surflesson.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body product-text">
                                <p class="card-title">
                                    {{ surflesson.name }}
                                </p>
                                <h5>£ {{surflesson.price}}</h5>
                                 
                            </div>
                            <div class="card-footer bg-white product-text">
                                <p>We also offer block bookings</p>
                            </div>
                        </div>
                    </div>
          {% endfor %}
                </div>
            </div>
        </div>
        </div>
{% endblock %}
